/*Mission and vision page*/
.mission-vision h2{
  color: #032d6b;
  font-size: 20px;
}

.mission-vision img{
  height: 150px;
  width: 300px;
}

.mission{
  margin: 20px 0;
}

.vision{
  margin: 20px 0;
}

.company-profile{
  margin: 20px 0;
}

#company-img{
  margin: 60px 0 0 0;
}

#aboutus{
  width: 100%;
}
