#form-success{
  background-color: #dff0d8;
  border-radius: 5px;
  display: none;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
}

#contact-us{
  width: 100%;
}

.enquiry-right{
  box-sizing: border-box;
  margin-top: 40px;
  padding: 30px;
}

#googleMap{
  height: 285px;
  margin-bottom: 20px;
  width: 100%;
}
