body{
  background-color: #E0E0E0;
  font-family: 'Poppins', sans-serif;
}

.page{
  background-color: white;
  margin: 0 15%;
  padding: 20px 10px;
}

.top-right{
  padding-top: 30px;
}

.top-right a{
  margin-right: 10px;
}

.header-top{
  margin-bottom: 20px;
}

.navbar-inverse{
  background-color: #0F1626;
  border-radius: 5px 5px 0 0;
}
