body{
  background-color: #E0E0E0;
  font-family: 'Fjalla One', sans-serif;
}

.page{
  background-color: white;
  margin: 0 15%;
  padding: 20px 10px;
}

.top-right{
  padding-top: 30px;
}

.top-right a{
  margin-right: 10px;
}

.header-top{
  margin-bottom: 20px;
}

.navbar-inverse{
  background-color: #0F1626;
  border-radius: 5px 5px 0 0;
}

.page-center{
  margin-bottom: 20px;
}

.page-center h2{
  font-size: 20px;
}

.welcome{
  margin-bottom: 20px;
}

.welcome h2{
  color: #032d6b;
}

.panel h2{
  color: white;
  margin: 0;
  padding: 5px;
}

.panel-header{
  background-color: #0F1626;
  border-radius: 5px 5px 0 0;
}

.panel-body{
  background-color: #f0f0f0;
}

.news-events h2{
  color: #032d6b;
}

.clients-left{
  background-color: #032d6b;
  color: white;
  padding: 5px;
  text-align: center;
}

.clients-right{
  background: linear-gradient(to bottom,rgb(36, 37, 37),rgb(43, 45, 41));
  color: white;
  padding: 5px;
  text-align: center;
}
